<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Community referral</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
    <a class="btn btn-outline-primary" href="<%= new_admin_community_path %>">New</a>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Client first name</th>
      <th>Client last name</th>
      <th>Client date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.client_first_name %></td>
        <td><%= community.client_last_name %></td>
        <td><%= community.client_date_of_birth %></td>
        <td><%= link_to 'Show', admin_community_path(community) %></td>
        <td><%= link_to 'Edit', edit_admin_community_path(community) %></td>
        <td><%= link_to 'Destroy', admin_community_path(community), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
