<p id="notice"><%= notice %></p>

<p>
  <strong>Client title:</strong>
  <%= @community.client_title %>
</p>

<p>
  <strong>Client first name:</strong>
  <%= @community.client_first_name %>
</p>

<p>
  <strong>Client last name:</strong>
  <%= @community.client_last_name %>
</p>

<p>
  <strong>Client date of birth:</strong>
  <%= @community.client_date_of_birth %>
</p>

<p>
  <strong>Client address 1:</strong>
  <%= @community.client_address_1 %>
</p>

<p>
  <strong>Client address 2:</strong>
  <%= @community.client_address_2 %>
</p>

<p>
  <strong>Client city:</strong>
  <%= @community.client_city %>
</p>

<p>
  <strong>Client postcode:</strong>
  <%= @community.client_postcode %>
</p>

<p>
  <strong>Client state:</strong>
  <%= @community.client_state %>
</p>

<p>
  <strong>Contact first name:</strong>
  <%= @community.contact_first_name %>
</p>

<p>
  <strong>Contact last name:</strong>
  <%= @community.contact_last_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @community.contact_phone %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @community.service_provider %>
</p>

<p>
  <strong>Contact relationship:</strong>
  <%= @community.contact_relationship %>
</p>

<p>
  <strong>Client dva:</strong>
  <%= @community.client_dva %>
</p>

<p>
  <strong>Client dva number:</strong>
  <%= @community.client_dva_number %>
</p>

<p>
  <strong>Next of kin:</strong>
  <%= @community.next_of_kin %>
</p>

<p>
  <strong>Next of kin relationship:</strong>
  <%= @community.next_of_kin_relationship %>
</p>

<p>
  <strong>Next of kin name:</strong>
  <%= @community.next_of_kin_name %>
</p>

<p>
  <strong>Next of kin phone:</strong>
  <%= @community.next_of_kin_phone %>
</p>

<p>
  <strong>Client aboriginal:</strong>
  <%= @community.client_aboriginal %>
</p>

<p>
  <strong>Client ndis:</strong>
  <%= @community.client_ndis %>
</p>

<p>
  <strong>Client ndis number:</strong>
  <%= @community.client_ndis_number %>
</p>

<p>
  <strong>Client ndis plan start:</strong>
  <%= @community.client_ndis_plan_start %>
</p>

<p>
  <strong>Client ndis end date:</strong>
  <%= @community.client_ndis_end_date %>
</p>

<p>
  <strong>Client advanced care directive:</strong>
  <%= @community.client_advanced_care_directive %>
</p>

<p>
  <strong>Client advanced care directive notes:</strong>
  <%= @community.client_advanced_care_directive_notes %>
</p>

<p>
  <strong>Client medical social history:</strong>
  <%= @community.client_medical_social_history %>
</p>

<p>
  <strong>Client invoice:</strong>
  <%= @community.client_invoice %>
</p>

<p>
  <strong>Client invoice name:</strong>
  <%= @community.client_invoice_name %>
</p>

<p>
  <strong>Client invoice address1:</strong>
  <%= @community.client_invoice_address1 %>
</p>

<p>
  <strong>Client invoice address2:</strong>
  <%= @community.client_invoice_address2 %>
</p>

<p>
  <strong>Client invoice city:</strong>
  <%= @community.client_invoice_city %>
</p>

<p>
  <strong>Client invoice state:</strong>
  <%= @community.client_invoice_state %>
</p>

<p>
  <strong>Client invoice postcode:</strong>
  <%= @community.client_invoice_postcode %>
</p>

<p>
  <strong>Referrer name:</strong>
  <%= @community.referrer_name %>
</p>

<p>
  <strong>Referrer date:</strong>
  <%= @community.referrer_date %>
</p>

<p>
  <strong>Referrer email:</strong>
  <%= @community.referrer_email %>
</p>

<p>
  <strong>Referrer phone:</strong>
  <%= @community.referrer_phone %>
</p>

<p>
  <strong>Referrer urgent:</strong>
  <%= @community.referrer_urgent %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>
