<p id="notice"><%= notice %></p>

<p>
  <strong>Client title:</strong>
  <%= @hospital.client_title %>
</p>

<p>
  <strong>Client first name:</strong>
  <%= @hospital.client_first_name %>
</p>

<p>
  <strong>Client last name:</strong>
  <%= @hospital.client_last_name %>
</p>

<p>
  <strong>Client date of birth:</strong>
  <%= @hospital.client_date_of_birth %>
</p>

<p>
  <strong>Client nationality:</strong>
  <%= @hospital.client_nationality %>
</p>

<p>
  <strong>Client language spoken:</strong>
  <%= @hospital.client_language_spoken %>
</p>

<p>
  <strong>Client address1:</strong>
  <%= @hospital.client_address1 %>
</p>

<p>
  <strong>Client address2:</strong>
  <%= @hospital.client_address2 %>
</p>

<p>
  <strong>Client city:</strong>
  <%= @hospital.client_city %>
</p>

<p>
  <strong>Client state:</strong>
  <%= @hospital.client_state %>
</p>

<p>
  <strong>Client postcode:</strong>
  <%= @hospital.client_postcode %>
</p>

<p>
  <strong>Client primary phone:</strong>
  <%= @hospital.client_primary_phone %>
</p>

<p>
  <strong>Client secondary phone:</strong>
  <%= @hospital.client_secondary_phone %>
</p>

<p>
  <strong>Client email:</strong>
  <%= @hospital.client_email %>
</p>

<p>
  <strong>Client reason for referral:</strong>
  <%= @hospital.client_reason_for_referral %>
</p>

<p>
  <strong>Client date of surgery:</strong>
  <%= @hospital.client_date_of_surgery %>
</p>

<p>
  <strong>Hospital of surgery:</strong>
  <%= @hospital.hospital_of_surgery %>
</p>

<p>
  <strong>Hospital discharge date:</strong>
  <%= @hospital.hospital_discharge_date %>
</p>

<p>
  <strong>Hospital surgeon:</strong>
  <%= @hospital.hospital_surgeon %>
</p>

<p>
  <strong>Hospital surgeon phone:</strong>
  <%= @hospital.hospital_surgeon_phone %>
</p>

<p>
  <strong>Health insurance name:</strong>
  <%= @hospital.health_insurance_name %>
</p>

<p>
  <strong>Health insurance number:</strong>
  <%= @hospital.health_insurance_number %>
</p>

<p>
  <strong>Health insurance client manager name:</strong>
  <%= @hospital.health_insurance_client_manager_name %>
</p>

<p>
  <strong>Health insurance client manager contact number:</strong>
  <%= @hospital.health_insurance_client_manager_contact_number %>
</p>

<p>
  <strong>Health insurance client manager email:</strong>
  <%= @hospital.health_insurance_client_manager_email %>
</p>
